<!DOCTYPE html>
<html>
  <head>
    <title>TryCkeditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.skypack.dev/trix/dist/trix.css">
    <script type="module">
      import railsActiontext from 'https://cdn.skypack.dev/@rails/actiontext';
      import trix from 'https://cdn.skypack.dev/trix';
    </script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
